<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<link rel="stylesheet" href="/css/saved.css">
    <title>Ratings</title>
</head>
<body>

<h1>Saved Drinks</h1>

{{data}}

<div id="{{this.user_id}}" data-attribute = "{{this.user_id}}">{{this.user_id}}</div>

    <span id = "output">

    </span>

<script src="/js/savedDisplay.js"></script>

  
</body>
</html>